div(class="col")
    img(:src="'https://placeimg.com/'+$q.screen.width+'/'+$q.screen.width+'/nature'" style="height: auto; max-width: 100%")   

div(class="col q-mt-sm")
  p(class="text-h6 no-margin") 서울 목동 45평 아디다스 매장 철거
  p(class="text-grey-7 q-mt-xs text-bold") 상업공간 철거  