q-list(padding)
  q-item(class="item-lists")
    q-item-section(avatar)
      q-checkbox(color="secondary" :value="false")
    q-item-section(class="list-title") 전체동의

q-list(padding separator)
  q-item(class="item-lists")
    q-item-section(avatar)
      q-checkbox(color="secondary" :value="true")
    q-item-section(class="list-title") [필수] 만 14세 이상 이용자
    q-item-section(side) 
      q-btn(flat size="xs" dense class="see-more-btn q-pl-sm")
        span(class="see-more-label") 자세히보기
        q-icon(name="chevron_right" size="20px")

  q-item(class="item-lists")
    q-item-section(avatar)
      q-checkbox(color="secondary" :value="true")
    q-item-section(class="list-title") [필수] 서비스 이용약관
    q-item-section(side) 
      q-btn(flat size="xs" dense class="see-more-btn q-pl-sm" @click="goToTermsCondition('terms-of-service')")
        span(class="see-more-label") 자세히보기
        q-icon(name="chevron_right" size="20px")

  q-item(class="item-lists")
    q-item-section(avatar)
      q-checkbox(color="secondary" :value="true")
    q-item-section(class="list-title") [필수] 개인정보 처리방침
    q-item-section(side) 
      q-btn(flat size="xs" dense class="see-more-btn q-pl-sm" @click="goToTermsCondition('privacy-policy')")
        span(class="see-more-label") 자세히보기
        q-icon(name="chevron_right" size="20px")


  q-item(class="item-lists")
    q-item-section(avatar)
      q-checkbox(color="secondary" :value="true")
    q-item-section(class="list-title") [선택]마케팅 정보 수신
    q-item-section(side) 
      q-btn(flat size="xs" dense class="see-more-btn q-pl-sm" @click="goToTermsCondition('receiving-marketing-information')")
        span(class="see-more-label") 자세히보기
        q-icon(name="chevron_right" size="20px")