div(class="row flex justify-center" style="margin-top: 30px;")
  div(class="col-12")
    p(class="title") 생년월일

  div(class="col-12")
    q-input(
      outlined
      placeholder="1991.01.01"
      type="date"
      navigation-max-year-month="2020/10"
    )

  div(class="col-12 q-mt-sm")
    q-btn(label="다음" class="full-width next-btn" flat)