// app global css in Stylus form
@font-face {
  font-family: notosanskr-medium;
  src: url(./font/NotoSansKR-Medium.otf);
}

@font-face {
  font-family: notosanskr-regular;
  src: url(./font/NotoSansKR-Regular.otf);
}

@font-face {
  font-family: notosanskr-regular;
  src: url(./font/NotoSansKR-Regular.otf);
}

.notosanskr-medium {
  font-family: 'notosanskr-medium';
}

.notosanskr-regular {
  font-family: 'notosanskr-regular';
}