q-card-section(class="bg-white")
  div(class="row")
    div(class="col")
      div(class="text-h6 bold") 어게인업
      div(class="text-subtitle2 text-grey") 서울특별시 광진구 천호대로 24-5
    div(class="col flex justify-end")
      q-btn(round icon="share" flat class="share-btn")
  div
    q-rating(size="2em" :max="5" color="blue" :value="4")
      span(class="text-subtitle2")  4.9

  div(class="row q-mt-sm")
    div(class="col")
      q-btn(class="btn-work-group" flat :dense="btnDense" :size="btnSize") 주거공간
    div(class="col")
      q-btn(class="btn-work-group" flat :dense="btnDense" :size="btnSize") 상업공간
    div(class="col")
      q-btn(class="btn-work-group" flat :dense="btnDense" :size="btnSize") 사무공간
    div(class="col")
      q-btn(class="btn-work-group" flat :dense="btnDense" :size="btnSize") 시설물/폐기물