q-card-section(class="bg-white")
  div(class="column")
    div(class="col")
      div(class="row")
        div(class="col-4 text-grey") 매칭수
        div(class="col-8 text-bold text-blue") 12,050
    div(class="col")
      div(class="row")
        div(class="col-4 text-grey") 경력
        div(class="col-8 text-bold text-black") 11년
    div(class="col")
      div(class="row")
        div(class="col-4 text-grey") 작업지역
        div(class="col-8 text-bold text-black") 서울시 전 지역
    div(class="col")
      div(class="row")
        div(class="col-4 text-grey") 전화상담
        div(class="col-8 text-bold text-black") 02-4525-4890
    div(class="col")
      div(class="row")
        div(class="col-4 text-grey") 영업시간
        div(class="col-8 text-bold text-black") 10:00 - 21:00 매주 월요일 휴무