q-card-section(class="bg-white")
  div(class="column")
    div(class="col")
      div(class="row")
        div(class="col-4 text-grey") &#xB9E4;&#xCE6D; &#xC218;
        div(class="col-8 text-bold text-blue") 12,050
    div(class="col")
      div(class="row")
        div(class="col-4 text-grey") &#xACBD;&#xB825;
        div(class="col-8 text-bold text-black") 11&#xB144;
    div(class="col")
      div(class="row")
        div(class="col-4 text-grey") &#xC791;&#xC5C5;&#xC9C0;&#xC5ED;
        div(class="col-8 text-bold text-black") &#xC11C;&#xC6B8;&#xC2DC; &#xC804; &#xC9C0;&#xC5ED;
    div(class="col")
      div(class="row")
        div(class="col-4 text-grey") &#xC804;&#xD654;&#xC0C1;&#xB2F4;
        div(class="col-8 text-bold text-black") 02-4525-4890
    div(class="col")
      div(class="row")
        div(class="col-4 text-grey") &#xC601;&#xC5C5;&#xC2DC;&#xAC04;
        div(class="col-8 text-bold text-black") 10:00 - 21:00 &#xB9E4;&#xC8FC; &#xC6D4;&#xC694;&#xC77C; &#xD734;&#xBB34;