q-card-section(class="bg-white")
  div(class="text-h6 bold") &#xC5B4;&#xAC8C;&#xC778;&#xC5C5;
  div(class="text-subtitle2 text-grey") &#xC11C;&#xC6B8;&#xD2B9;&#xBCC4;&#xC2DC; &#xAD11;&#xC9C4;&#xAD6C; &#xCC9C;&#xD638;&#xB300;&#xB85C; 24-5
  div
    q-rating(size="2em" :max="5" color="blue")
      span(class="text-subtitle2")  4.9

  div(class="row q-mt-sm")
    div(class="col")
      q-btn(class="btn-work-group" :dense="btnDense" :size="btnSize") 주거공간
    div(class="col")
      q-btn(class="btn-work-group" :dense="btnDense" :size="btnSize") 상업공간
    div(class="col")
      q-btn(class="btn-work-group" :dense="btnDense" :size="btnSize") 사무공간
    div(class="col")
      q-btn(class="btn-work-group" :dense="btnDense" :size="btnSize") 시설물/폐기물